<div class = "container">
  <div class="row">
    <div class="col-md-6 offset-md-3 login-form">
      <h2 class = "text-center">新規登録</h2>
        <%= form_with(model: @user, local: true) do |f| %>
        <%= render 'layouts/error_messages', object: f.object %>
          <%= f.label :name, "氏名" %>
          <%= f.text_field :name, class: 'form-control' %>
    
          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, class: 'form-control' %>
          
          <%= f.label :password, "パスワード" %>
          <%= f.password_field :password, class: 'form-control' %>
    
          <%= f.label :password_confirmation, "パスワード確認" %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
          <div class = "login-btn">
          <%= f.submit "登録", class: "btn btn-success" %>
          </div>
        <% end %>
    </div>
  </div>
</div>